{%extends 'layout.html'%}
{%block content%}
{%load static%}

<header class="row bg-black">
    <div class="col-md-4">
        <img src="{%static 'portafolio/Yo.jpeg'%}" alt="" class="img-fluid">
    </div>

    <div class="col-md-8 my-auto">
        <h1>Yo soy <strong> Cristian Diaz</strong></h1>
        <h3>Soy un analista de Datos</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, iure soluta, ad cumque nesciunt ab placeat perferendis tempora architecto consequuntur aperiam natus magnam iusto quisquam in nobis est vitae? Officia, est quibusdam maxime earum sunt neque suscipit nulla necessitatibus quod praesentium dicta iure sed eius atque. Suscipit nobis obcaecati eum amet saepe, ab voluptatibus, rerum et veritatis modi, velit est hic eveniet quam natus. Porro molestiae repellat ratione beatae culpa excepturi dolore minima? Fuga eaque perspiciatis cumque quas possimus explicabo consectetur! Doloremque similique officiis, voluptate eum omnis incidunt? Sed, illum officia iusto facere commodi numquam quisquam dolor odit minus tenetur.</p>
        <a  href="{%static 'portafolio/CV_Cristian_Diaz (1).pdf'%}" class="btn btn-primary btn-lg rounded-0 my-3" >Download CV</a>
    </div>
</header>

<div class="row my-4 text-center">
    <h3>My Projects</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, sunt.</p>

    {% for project in projects %}

    <div class="col-md-4 p-4">
        <div class="card bg-black card-project">
            <img src="{{project.image.url}}" alt="{{project.title}}" class="card-img-top" />
            <div class="card-body">
                <h2>{{project.title}}</h2> 
                <p>{{project.description}}</p>
        
                {% if project.url %}
                <a href="{{project.url}}" class="btn btn-light rounded-0 btn-sm img-fluid" target="_blank">{{project.url}}</a>
                {%endif%}
            </div>
        </div>
    </div>
    {%endfor%} {%endblock%}
</div>
